<div class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/image/logo_viet_run.svg" alt="logo">
            <p>Giới thiệu</p>
        </div>
        <div class="footer-links">
            <div class="infor">
                <h3 class="footer-title">Runners Vietnam</h3>
                <div class="column-item">
                    <div class="item">
                        <img src="assets/image/map_icon.svg" alt="map">
                        <p>Địa chỉ: Đường X, Phường Y, Quận Z, TP.HCM</p>
                    </div>
                    <div class="item">
                        <img src="assets/image/phone_icon.svg" alt="phone">
                        <p>Số điện thoai: 0000000000</p>
                    </div>
                    <div class="item">
                        <img src="assets/image/email_icon.svg" alt="email">
                        <p>Email 1: email@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="link">
                <h3 class="footer-title">Liên kết</h3>
                <div class="column-item">
                    <div class="item">
                        <a href="#">Trang chủ</a>
                    </div>
                    <div class="item">
                        <a href="#">Tin tức</a>
                    </div>
                    <div class="item">
                        <a href="#">Mua vé sự kiện</a>
                    </div>
                    <div class="item">
                        <a href="#">Sản phẩm thể thao</a>
                    </div>
                    <div class="item">
                        <a href="#">Câu lạc bộ</a>
                    </div>
                    <div class="item">
                        <a href="#">Bảng xếp hạng</a>
                    </div>
                    <div class="item">
                        <a href="#">Video</a>
                    </div>
                    <div class="item">
                        <a href="#">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="connect">
                <h3 class="footer-title">Kết nối</h3>
                <div class="list-social">
                    <img src="assets/image/facebook_fill.svg" alt="facebook">
                    <img src="assets/image/instagram_fill.svg" alt="instagram">
                    <img src="assets/image/youtube_fill.svg" alt="youtube">
                </div>
            </div>
        </div>
    </div>
    <div class="site">
        <p>Site by Uway Technology</p>
    </div>
</div>