<nav>
    <div class="nav-logo">
        <div class="logo">
            <button id="test1">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
            <img src="assets/image/logo_viet_run.svg" alt="logo">
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm sản phẩm">
        </div>
        <div class="nav-links">
            <div class="item">
                <img src="assets/image/shopping_cart.svg" alt="shopping_cart">
                <a href="#">Giỏ hàng</a>
            </div>
            <div class="item">
                <img src="assets/image/heart.svg" alt="shopping_cart">
                <a href="#">Yêu thích</a>
            </div>
            <div class="item">
                <img src="assets/image/user.svg" alt="shopping_cart">
                <a href="./login.html">Đăng nhập</a>
            </div>
            <div class="item">
                <button onclick="navigateToSignUp()">Đăng kí</button>
            </div>
        </div>
    </div>
    <div class="nav-menu">
        <div class="menu-item">Trang chủ</div>
        <div class="menu-item">Tin tức</div>
        <div class="menu-item">Mua vé sự kiện</div>
        <div class="menu-item">Sán phẩm thể thao</div>
        <div class="menu-item">Câu lạc bộ</div>
        <div class="menu-item">Bảng xếp hạng</div>
        <div class="menu-item">Video</div>
        <div class="menu-item">Liên hệ</div>
    </div>
    <div class="tab-menu">
        <div class="logo">
            <img src="assets/image/logo_viet_run.svg" alt="logo">
        </div>
        <div class="menu-item">Trang chủ</div>
        <div class="menu-item">Tin tức</div>
        <div class="menu-item">Mua vé sự kiện</div>
        <div class="menu-item">Sán phẩm thể thao</div>
        <div class="menu-item">Câu lạc bộ</div>
        <div class="menu-item">Bảng xếp hạng</div>
        <div class="menu-item">Video</div>
        <div class="menu-item">Liên hệ</div>
    </div>
</nav>